.intro-block {
	background: url(../images/purpalt.png) repeat;
	padding: 100px 15px 60px;
	color: #fff;
}
.text-muted {
	color: #e9e6df;
	font-weight: 100;
}
.tpad {
	padding-top: 20px;
}
.marketing {
	background-color: #e9e6df;
}
hr {
	border-top: 1px solid #c9c9c9;
}
.info {
	background: #ffa753 url(../images/skyline.png) repeat-x bottom;
	padding: 80px 0;
}
.testimonial {
	color: #fdf5e6;
}
.info small {
	color: #fdf5e6;
}
.info a {
	color: #fff;
}
.info a:hover {
	color: #333;
}
.tab-pane {
	padding: 40px 10px 0 10px;
	color: #fdf5e6;
}
